.slick_carousel .slick-next {
  right: 20px !important;
  z-index: 10;

}
.slick_carousel .slick-prev {
    left: 20px !important;
    z-index: 10;
  }
  .slick_carousel .slick-prev:before,.slick_carousel .slick-next:before {
    /* font-size: 30px */
  }
  .slick_carousel .slick-slide {
    height: 400px !important;
    overflow: hidden !important;
  }
  .slick_carousel img{
   width: 100%;
   height: 400px;
   
  }